body {
    background-color: #e5e5f7;
    background-image:  radial-gradient(#5292dd 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#5292dd 0.7000000000000001px, #e5e5f7 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
}

.game-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.platform-row {
    margin-bottom: 40px;
}

.platform-row h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.game-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.game-item {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.game-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05); 
}

.game-title {
    font-size: 16px; 
    color: #333;
    font-weight: 20;
}

=
