@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.game-details-container {
    max-width: 700px;
    margin: 20px;
    padding: 0;
    text-align: left; 
    border-radius: 8px; 
}

.game-image {
    max-width: 30%;
    max-height: 400px; 
    height: auto; 
    display: block; 
    margin-bottom: 20px; 
}

.game-title {
    font-size: 30px;
    margin-bottom: 10px; 
    color: #070707;
    font-weight: bolder;
}

.game-price {
    font-size: 18px;
    padding: 15px;
    margin: 5px 0; 
    color: #333232;
    font-weight: bold;
}
